.container {
  width: 100%;
  height: 100%;
}

.query-condition {
  position: relative;
  top: 6%;
}

.table-data {
  position: relative;
  top: 6%;
}

.add-customer-btn {
  position: absolute;
  right: 20%;
}

.customer-dialog .dialog-footer {
  position: relative;
  left: 50%;
}

.customer-label-dialog .dialog-footer {
  position: absolute;
  left: 35%;
  top: 78.5%;
}

.pagination {
  position: absolute;
  right: 19.8%;
  margin-top: 1%;
}
