.container {
  width: 100%;
  height: 100%;
}

.query-condition {
  position: relative;
  top: 4%;
}

.add-role-access-btn {
  position: relative;
  left: 73.4%;
  top: -1%;
}

.role-access-dialog .dialog-footer {
  position: relative;
  left: 50%;
}

.pagination {
  position: absolute;
  right: 19.8%;
  margin-top: 1%;
}
