.container {
  width: 100%;
  height: 100%;
}

.query-condition {
  position: relative;
  top: 4%;
}

.warehouse-dialog .dialog-footer {
  position: relative;
  left: 50%;
}

.add-warehouse-btn {
  position: relative;
  left: 74.8%;
  top: -2%;
}

.pagination {
  position: absolute;
  right: 19.8%;
  margin-top: 1%;
}
